\<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
\        "http://www.w3.org/TR/html4/loose.dtd">
-macro render_form(form)
    %div.form
        {% csrf_token %}
        -for error in form.non_field_errors()
            %span.error
                =error
        -for field in form
            %div.form_item
                -if not field.is_hidden
                    %div class="label"
                        =field.label_tag()|safe
                        -if field.field.required
                            %span.required << *
                    %div.clearfix
                    -if field.errors
                        -for error in field.errors
                            %span.error
                                =error
                            %div.clearfix
                    %div.field
                        =field|safe
                    %div.help
                        =field.help_text
                -else
                    =field|safe
            %div.clearfix
%html
    %head
        %meta http-equiv="content-type" content="text/html; charset=UTF-8"
        %title << HAML sample
        %script type="text/javascript" src="http://yandex.st/jquery/1.4.4/jquery.min.js"
        -assets "all.js"
            %script type="text/javascript" src="{{ ASSET_URL }}"
        -block js
        -assets "all.css"
           %link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css"
        -block css
    %body.bp
        %div.container
            #header
                -block header
                    %div.logo
                        %h1
                            %a href="/" << django-hsc-skel
                    %div.registration
                        -if user.is_anonymous()
                            %p
                                %a href="{% url login %}" << Войти
                        -else
                            %span.user"
                                =user.username
                                %a.logout href="{% url logout %}" << Выйти
            %div.clearfix

            %div#content
                %div#title
                    -block title
                -block content
            .clearfix
            #footer
                -block footer
                    &copy; Dmitri Patrakov, 2011