\<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
\        "http://www.w3.org/TR/html4/loose.dtd">
-macro render_form(rendered_form)
    %div.form
        {% csrf_token %}
        -for error in rendered_form.non_field_errors()
            %span.error
                =error
        -for field in rendered_form
            %div.form_item
                -if not field.is_hidden
                    %div class="label"
                        =field.label_tag()|safe
                        -if field.field.required
                            %span.required << *
                    %div.clearfix
                    -if field.errors
                        -for error in field.errors
                            %span.error
                                =error
                            %div.clearfix
                    %div.field
                        =field|safe
                    %div.help
                        =field.help_text
                -else
                    =field|safe
            %div.clearfix
%html
    %head
        %meta http-equiv="content-type" content="text/html; charset=UTF-8"
        %title << HAML sample
        %script type="text/javascript" src="http://yandex.st/jquery/1.4.4/jquery.min.js"
        ;-assets "base.js"
            ;%script type="text/javascript" src="{{ ASSET_URL }}"
        -block js
        ;-assets "base.css"
           ;%link href="{{ ASSET_URL }}" media="all" rel="stylesheet" type="text/css"
        -block css
%body.bp
    %div.container
        %div#header
			-block header
        %div.clearfix
        %div#content
            -block content
		%div.clearfix
        %div#footer
            -block footer



