-extends "base.haml"

-block title
    %h2
       Тестовая страница

-block content
    %p
        Здравствуйте!
    %p
        Вы успешно скачали и установили
        %a href="http://bitbucket.org/traditio/django-hsc-skel" << django-hsc-skel
        \- набор Django-приложений, "из коробки" поддерживающий шаблоны в синтаксисе
        %a href="http://github.com/Pitmairen/hamlish-jinja" << HAML,
        %nobr
            %a href="http://jashkenas.github.com/coffee-script/" << coffee-script
        и CSS-фреймворк
        %a href="http://compass-style.org/docs/" << Compass
        (на основе BluePrint).